<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All writers</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Books</a></li>
            <li><a href="/all_writers">Writers</a></li>
            <li><a href="/all_publishers">Publishers</a></li>
        </ul>
    </nav>
    <h2>All writers</h2>
    <% if(writers.length > 0) { %>
        <% writers.forEach(writer => { %>
            <a href="/all_writers/<%=writer.ID %>">
                <p><%= writer.NAME %></p>
            </a>
        
        <% }) %>
    <% } %>
</body>
</html>