<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All publishers</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <!-- <nav>
        <ul>
            <li><a href="/books">Books</a></li>
            <li><a href="/writers">Writers</a></li>
            <li><a href="/publishers">Publishers</a></li>
        </ul>
    </nav> -->
    <div class="header-section">
        <div class="lower-line">
            <nav>
                <ul>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/writers">Writers</a></li>
                    <li><a href="/publishers">Publishers</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="center">
        <div><h2>All Publishers</h2></div>
        <div>Click on any publisher name to see all the books published by them...</div>
    </div>
    
    <div class="main-section">
        <div class="filter-section">
            <div>genre filter</div>
            <div>author filter</div>
            <div>publisher filter</div>
            <div>price filter</div>
            <div>rate filter</div>
        </div>

        <div class="items-section">
            <div class="display-publishers">
                <% if(publishers.length > 0) { %>
                    <% publishers.forEach(publisher => { %>
                        <div class="single-publisher">
                            <a href="/publishers/<%= publisher.NAME %>"><%= publisher.NAME %></a>
                        </div>
                    <%})%>
                    <% } %>
            </div>
        </div>
    </div>
</body>
</html>