<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All publishers</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Books</a></li>
            <li><a href="/writers">Writers</a></li>
            <li><a href="/publishers">Publishers</a></li>
        </ul>
    </nav>
    <h2>All publishers</h2>
    <% if(publishers.length > 0) { %>
        <% publishers.forEach(publisher => { %>
            <a href="/publishers/<%= publisher.NAME %>">
                <p><%= publisher.NAME %></p>
            </a>
        <% }) %>
    <% } %>
</body>
</html>