<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="/styleOrder.css">
</head>
<body>
    <div class="form-container-order">

        <div class="form-btn">
            <span>Order</span>
        </div>

        <form>
            <input type="text" placeholder="Full Name" required>
            <input type="text" placeholder="Address" required>
            <input type="tel" placeholder="Phone Number" required>
            <br>
            <button type="submit" class="btn2">Submit</button>        
        </form>
    </div>
</body>
</html>