<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>></title>
</head>
<body>
    <form action="/signup" method="POST">
        <label>Name:</label>
        <input type="text" name="name" required>

        <label>Email: </label>
        <input type="email" name="email" required value="<%= (typeof form != 'undefined') ? form.email : '' %>">

        <label>Password: </label>
        <input type="password" name="password" required value="<%= (typeof form != 'undefined') ? form.password : '' %>">

        <% if (errors.length > 0) { %>
            <ul>
                <% for (e of errors) { %>
                    <li> <%= e %> </li>
                <% } %>
            </ul>
        <% } %>

        <button type="submit">Signup</button>
    </form>
    
</body>
</html>