<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= writers[0].NAME %></title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Books</a></li>
            <li><a href="/all_writers">Writers</a></li>
            <li><a href="/all_publishers">Publishers</a></li>
        </ul>
    </nav>
    <% if(writers.length > 0) { %>
        <% writers.forEach(writer => { %>
            <h4><%= writer.NAME %></h4> 
            <p><%= writer.DESCRIPTION %></p>          
        <% }) %>
    <% } %>
</body>
</html>