@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tiro+Bangla&display=swap');


body {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: medium;
}

.cart-page
{
    margin: 80px auto;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

.cart-info
{
    display: flex;
    flex-wrap: wrap;
}

th
{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: rgb(16, 95, 134);
    font-weight: normal;
}

td
{
    padding: 10px 5px;
}

td input
{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img
{
    width: 80px;
    height: 100px;
    margin-right: 10px;
}

.total-price
{
    display: flex;
    justify-content: flex-end;
}

.total-price table
{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 370px;
}

td:last-child
{
    text-align: right;
}

th:last-child
{
    text-align: right;
}