@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tiro+Bangla&display=swap');


body {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: medium;
    display: flex;
    align-items: baseline;
}

.cart-page
{
    margin: 80px auto;
}

.small-container
{
    width: 700px;
    border-collapse: collapse;
}

.cart-info
{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

th
{
    text-align: left;
    padding: 10px;
    width: 200px;
    color: #fff;
    background-color: rgb(16, 95, 134);
    font-weight: normal;
}

td
{
    padding: 10px 5px;
    margin: 20px;
}

td input
{
    width: 30px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img
{
    width: 80px;
    height: 100px;
    margin-right: 10px;
}

.total-price
{
    display: flex;
    justify-content: flex-end;
}


td:last-child
{
    text-align: right;
}

th:last-child
{
    text-align: right;
}

.total-price table
{
    background-color: #ff523b;
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
    padding-right: 200px;
}
.del-btn {
    background-color: #a11604;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
}
.summary {
    background-color: aliceblue;
}
.total-amt {
    border-top: 5px solid black;
}
.hidden {
    display: none;
}

.actions {
    width: 150px;
}