@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Tiro+Bangla&display=swap');

body {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tiro Bangla', serif;
    font-size: medium;    
}

.form-container
{
    background: radial-gradient(#fff, #6ecddd);
    width: 550px;
    height: fit-content;
    position: absolute;
    text-align: center;
    padding: 20px 0;
    /* margin-top: 100px; */
    margin-left: 350px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.form-container span
{
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px;
    color: #020306;
    cursor: pointer;
    width: 200px;
    display: inline-block;
}

.form-container form 
{
    max-width: 500px;
    height: fit-content;
    padding: 0 20px;
    position: absolute;
    top: 60px;
}

form input
{
    width: 300px;
    height: 40px;
    margin: 8px 0;
    padding: 0 8px;
    border: 1px solid #ccc;
    display: inline;
}

form .btn1
{
    background-color: #266398;
    width: 30%;
    height: 35px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: white;
    border-radius: 10px;
}


/* --------Add Writer---------- */

.form-container-1
{
    background: radial-gradient(#fff, #6ecddd);
    width: 500px;
    height: 250px;
    position: absolute;
    text-align: center;
    padding: 20px 0;
    margin-top: 100px;
    margin-left: 350px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.form-container-1 span
{
    font-weight: bold;
    font-size: 20px;
    padding: 0 10px;
    color: #020306;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-container-1 form 
{
    max-width: 550px;
    /* max-height: fit-content; */
    height: max-content;
    padding: 0 20px;
    position: absolute;
    top: 70px;
}

label {
    display: block;
    width: max-content;
}
